body{
    background-color: rgba(24, 25, 26, 0.525);
    margin-left: 450px;
    margin-top: 100px;
    

}

div{
    border-radius: 10px;
    background-color:rgba(11, 50, 134, 0.562);
   border: 2px solid rgb(236, 19, 163);
   height: 200px; width: 300px; 
   margin: 10px;
   padding-left: 50px;
}
.pass{
    margin-top: 20px;
    border-radius: 10px;
    
    
    
}
.name{
    margin-top: 30px;
    border-radius: 10px;
}
.botton{
    margin-top: 30px;
    margin-left: 100px;
    color: rgb(4, 5, 5);
    border-radius: 10px;

}